html { 
  box-sizing: border-box;  
 }  
 *, 
 *::before   
 *::after { 
  box-sizing: inherit;
 } 
body { 
   margin: 0; 
   padding: 0;   
   
 }   
 .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
 form { 
   display: flex;  
   flex-direction: column; 
   margin-top: 10%; 
   margin-left: 40%;
 }  
 .controller { 
   display: inline-block; 
   width: 50px; 
   height: 50px; 
   border: 1px solid grey; 
   border-radius: 5px; 
   background-size: 50px; 
   background-repeat: no-repeat; 
   background-position: center;
 }  
 .chackbox-name {  
   margin-left: 10px; 
   font-size: 36px; 
   text-transform: uppercase;
 } 
 .chackbox-bas {  
  font-size: 36px;  
  text-transform: uppercase; 
  margin-left: 10px;
  opacity: 0.5;
}
 input:checked + .controller  { 
   background-image: url(../img/table-tennis.svg); 
  
 } 
 input:disabled + .controller  {    
  background-image: url(../img/basketball-ball.svg);
  opacity: 0.5;
} 
 input:checked  .basketball { 
   background-image: url(../img/volleyball.svg); 
}
 

